<div class="styled-outfit">
  <ul>
    <li>
      <p>Accessory</p>
      <img src=<%=@images[:accessories]%> alt="Accessory Image">

      <div class="swap-wrapper">
        <div class="swap-item">
          <%= link_to "Swap Accessory >", swap_accessories_path(images: @images) %>
        </div>
      </div>
    </li>

    <li>
      <p>Outerwear</p>
      <img src=<%=@images[:outerwear]%> alt="Outerwear Image">

      <div class="swap-wrapper">
        <div class="swap-item">
          <%= link_to "Swap Outerwear >", swap_outerwear_path(images: @images) %>
        </div>
      </div>
    </li>

    <li>
      <p>Top</p>
      <img src=<%=@images[:tops]%> alt="Top Image">

      <div class="swap-wrapper">
        <div class="swap-item">
          <%= link_to "Swap Top >", swap_tops_path(images: @images) %>
        </div>
      </div>
    </li>

    <li>
      <p>Pants</p>
      <img src=<%=@images[:pants]%> alt="Pants Image">

      <div class="swap-wrapper">
        <div class="swap-item">
          <%= link_to "Swap Pants >", swap_pants_path(images: @images) %>
        </div>
      </div>
    </li>

    <li>
      <p>Shoes</p>
      <img src=<%=@images[:shoes]%> alt="Shoes Image">

      <div class="swap-wrapper">
        <div class="swap-item">
          <%= link_to "Swap Shoes >", swap_shoes_path(images: @images) %>
        </div>
      </div>
    </li>
  </ul>
</div>

<br>

<div id="save-wrapper">
  <div id="save-outfit">
    <%= link_to "Save Outfit", new_outfit_path(images: @images) %>
  </div>
</div>