<div class="search-results">
  <ul>
    <% @products.each do |product| %>
      <li>
        <div class="product-image">
          <%= link_to image_tag(product['image']['url']), style_path(style: {type: 'tops', tops_url: product['image']['url']}, color: product["color"]) %>
        </div>

        <div class="product-name">
          <%= product['name'] %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
<br>

<div class="pages">
  <ul>
    <li><%= link_to "1", page_path(type: 'tops', page: 1) %></li>
    <li><%= link_to "2", page_path(type: 'tops', page: 2) %></li>
    <li><%= link_to "3", page_path(type: 'tops', page: 3) %></li>
    <li><%= link_to "4", page_path(type: 'tops', page: 4) %></li>
    <li><%= link_to "5", page_path(type: 'tops', page: 5) %></li>  
  </ul>
</div>

