<%= form_tag outfits_path(images: @images) do %>
  <%= label_tag "What do you want to name your outfit? " %>
  <%= text_field_tag :name %>
  <%= submit_tag "Save Outfit", class: 'submit-button', id: 'save-outfit' %>
<% end %>
<br>

<div class="styled-outfit">
  <ul>
    <li>
      <p>Accessory</p>
      <img src=<%=@images[:accessories]%> alt="Accessory Image">
    </li>

    <li>
      <p>Outerwear</p>
      <img src=<%=@images[:outerwear]%> alt="Outerwear Image">
    </li>

    <li>
      <p>Top</p>
      <img src=<%=@images[:tops]%> alt="Top Image">
    </li>

    <li>
      <p>Pants</p>
      <img src=<%=@images[:pants]%> alt="Pants Image">
    </li>

    <li>
      <p>Shoes</p>
      <img src=<%=@images[:shoes]%> alt="Shoes Image">
    </li>
  </ul>
</div>