<img src=<%=@outfit[:accessories_url]%> alt="Accessory Image">
<p>Accessory</p>
<p><%= @outfit["description"]%></p>

<img src=<%=@outfit[:outerwear_url]%> alt="Outerwear Image">
<p>Outerwear</p>

<img src=<%=@outfit[:tops_url]%> alt="Top Image">
<p>Top</p>

<img src=<%=@outfit[:pants_url]%> alt="Pants Image">
<p>Pants</p>

<img src=<%=@outfit[:shoes_url]%> alt="Shoes Image">
<p>Shoes</p>

<%= link_to "Delete This Outfit", @outfit, method: "delete" %>
