<div class="browse">
  
  <div id='choose-category'>
    <div>
      <h1>Choose a category and I will build you an outfit:</h1>
    </div>
  </div>

  <div class="categories">
    <div>
      <h2><%= link_to "Outerwear", outerwear_path %></h2>
      <h2><%= link_to "Tops", tops_path %></h2>
      <h2><%= link_to "Pants", pants_path %></h2>
      <h2><%= link_to "Shoes", shoes_path %></h2>
      <h2><%= link_to "Accessories", accessories_path %></h2>
    </div>
  </div>
</div>

