<h1>What are you looking for?</h1>

<h2><%= link_to "Outerwear", outerwear_path %></h2>
<h2><%= link_to "Tops", tops_path %></h2>
<h2><%= link_to "Bottoms", bottoms_path %></h2>
<h2><%= link_to "Shoes", shoes_path %></h2>
<h2><%= link_to "Accessories", accessories_path %></h2>
