<div class="user-profile-wrapper">
  <%= image_tag(@user.image, alt: 'icon', class: 'user-profile-img') if @user.image %>

  <div class="user-profile-text-wrapper">
    <h1><%= @user.name if @user.name%></h1>
    <p>Age: <%= @user.age if @user.age %></p>
    <p>Location: <%= @user.location if @user.location %></p>
    <p>Style: <%= @user.style_description if @user.style_description %></p>
  </div>
  <div class="user-profile-links">
    <div><%= link_to "Outfits", all_outfits_path(user_id: @user) %></div>
    <% if @user == current_user %>
      <div><%= link_to "My Friends", my_friends_path %></div>
      <div><%= link_to "Outfits I Like", outfits_i_like_path %></div>
      <div><%= link_to "Edit Profile", edit_user_path(@user) %></div>
    <% elsif current_user.friends.include?(@user)%>
      <div><%= link_to "Unfriend", unfriend_path(friend_id: @user) %></div>
    <% else %>
      <div><%= link_to "Add Friend", add_friend_path(friend_id: @user) %></div>
    <% end %>
  </div>
</div>
